.content__blockquote {
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  width:  clamp(15.188rem, -0.199rem + 76.93vw, 80.5rem);
  margin: 1.5em auto;
  font-style: italic;
  font-size: 1.125rem;
  color: #312A4E;
}

.theme_dark .content__blockquote {
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  width:  clamp(15.188rem, -0.199rem + 76.93vw, 80.5rem);
  margin: 1.5em auto;
  font-style: italic;
  font-size: 1.125rem;
  color: var(--text-color-dark);
}
