.content__list {
  list-style: none;
  padding-inline-start: 0; /*Левый внутренний отступ*/
  padding-left: 40px;
}

.content__list li {
  position: relative; /*Относительное позиционирование для псевдоэлемента*/
  margin-bottom: 10px;
}

.content__list li::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%); /*Центрирование по вертикали*/
  width: 15px;
  height: 15px;
  background-image: url(../../images/marker-light.svg);
  background-size: cover; /*Масштабирование изображения*/
  background-position: center;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.theme_dark .content__list li::before {
    background: url(../../images/marker-dark.svg) no-repeat center center; /* Новое изображение маркера */
}
