.footer {
    border-top: 2px solid var(--text-color);
    margin-top: 10vw;
    text-align: center;
    background-color: var(--bg-color);
}

.footer__copyright {
    font-size: 1.125rem;
    padding: 2.5vw;
    font-family: var(--main-font);
    text-align: center;
}

.theme_dark footer {
    background-color: var(--bg-color-dark);
    border-top: 2px solid var(--text-color-dark);
}